*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    display: grid;
}

main{
    width: 600px;
    background-color: rgb(147, 214, 192);
    margin: auto;
    border-radius: 24px;
}

section{
    padding: 2rem;
}



div{
    width: 600px;
    background-color: rgb(147, 214, 192);
    margin: auto;
    padding: 12px 0 12px 12px;
    border-bottom-left-radius: 12px;
    border-radius: 24px;
    margin-top: 1.5rem;
}


form{
    display: flex;
    flex-direction: column;
}

form label{
    margin-top: 1.5rem;
}

form button{
    width: 100px;
    height: 40px;
    margin-top: 2rem;
    background-color: rgb(27, 26, 26);
    color: rgb(147, 214, 192);

}

input{
    border: none;
    border-radius: 4px;
    height: 32px;
    margin: .5rem 0 .2rem 0 ;
    padding: .5rem;
}

/* ---------------------- INPUTS DINÂMICOS ----------------------- */

input.error{
    border: solid 2px rgb(190, 44, 44);
    color: rgb(147, 214, 192);
    background-color: rgb(27, 26, 26);
}

input.correct{
    background-color: rgb(147, 214, 192);
    color: rgb(68, 188, 68);
}

.error-text{
    display: none;
    font-size: .8rem;
    font-weight: 600;
    color: rgb(190, 44, 44);
    background-color: rgb(230, 109, 133);
}

.visible{
    display: block;
}